useDynLib(DNAprofiles)
import(Rcpp)
import(RcppProgress)
import(bit)
import(parallel)
S3method("[",profiles)
S3method(print,profiles)
export(as.dbcompare)
export(check.dist)
export(dist.pair.cdf)
export(dist.unique.events)
export(dists.product)
export(dists.product.pair)
export(est.freqs)
export(exact.q)
export(find.kth.element)
export(heterozygous)
export(homozygous)
export(ibdprobs)
export(ibs.db)
export(ibs.dist)
export(ibs.pairs)
export(ibs.pairwise.db)
export(ibs.pairwise.db.exp)
export(ibs.pairwise.pr)
export(ki)
export(ki.cdf)
export(ki.db)
export(ki.dist)
export(ki.ibs.joint.dist)
export(ki.precompute)
export(normalize.freqs)
export(pr.next.allele)
export(pr.next.alleles)
export(recode.freqs)
export(rmp)
export(sample.pairs)
export(sample.profiles)
export(sample.relatives)
exportPattern("^[^\\Z]")
